#loading-mask{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    opacity: 0.50;
    filter: alpha(opacity=30);
    z-index: 30000;
    display: none;
    width: 100px;
    height: 100px;
    background: url(/resources/img/ajax-loader.gif) no-repeat;
    background-size: 70px;
}
